html {
	position:relative;
	height:100%;
}
body {
	background-image: url(imagenes/fondo.jpg); background-position: center center; background-repeat: no-repeat;
	background-attachment: fixed; background-size: 100% 100%; background-color: black;color: white; height:100%;margin:0px;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('imagenes/wait.gif') 50% 50% no-repeat transparent;
	opacity: 1;
	display:none;
}

.card-prime {
	background: rgba(0,0,0,0)!important;
	border: 0px;
	margin-bottom:150px;
}

.card-prime > div.card-header {
	/*background-color: #343a40!important;*/
	background-color: #17a2b8!important;
	background-color: rgba(0,0,0,.03);
}

.card-prime > div.card-body {
	background: rgba(0, 0, 0, 0);
}

.card-prime > div.card-header > h1{
	margin: 20px 0px 15px 0px;
	font-size: 70px;
}

.card-prime > div.card-header > img {
	position: absolute;
	left: 0px;
	margin-left: 30px;
	margin-top: -115px;
	width: 110px;
}

.boton-row {
	margin-top: 40px;
}

img.boton {
	margin-left: 4px;
	padding: 20px;
	padding-bottom:0px;
	height: 227px;
}

button.boton {
	background: rgba(0, 0, 0, 0.5);
	/*-webkit-box-shadow: inset 0px 0px 32px 0px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 0px 32px 0px rgba(0,0,0,1);
	box-shadow: inset 0px 0px 32px 0px rgba(0,0,0,1);*/
	border-radius: 30px; font-size:xx-large;
}

.card-info {
	border-radius: 0px;
	margin: -20px -20px 0px -20px;
	font-size: xx-large;
}

.card-info p {
	margin-bottom: 0px;
}

.card-footer {
	border-radius: 0px;
	margin: 0px;
	padding: 0px;
	position: fixed;
	bottom: 0px;
	right: 0px;
	width: 100%;
}

.card-collapse {
	background-color: rgba(52, 58, 64, 0.6)!important;
	margin-bottom: 20px;
}

.card-collapse > .card-header {
	font-size: 3em;
	background-color: rgba(52, 58, 64, 0.6)!important;
}

.card-collapse > .card-body {
	padding: 30px 30px 20px 30px;
}

.card-collapse > .card-header > img {
	width: 110px;
	height: 110px;
	margin: 10px 25px 10px 10px;
}

.card-collapse .btn-chevron {
	position: absolute;
	right: 40px;
	font-size: 60px;
	margin-top: 23px;
}

.card-collapse .btn-per {
	font-size: 85px;
	margin-top: 5px;
	padding:0px;
}

.card-collapse .btn-por {
	font-size: 50px;
}

.card-collapse .btn-chevron > i.fa-chevron-right {
	padding: 5px 28px;
}

.card-collapse .btn-chevron > i.fa-chevron-down {
	padding: 5px 20px;
}

.card-elem {
	font-size: 3em;
	border-radius: 20px;
	/*background-color: rgba(52, 58, 64, 0.8)!important;*/
	margin-bottom: 20px;
}

.card-elem img {
	width: 110px;
	height: 110px;
	margin-top: 6px;
}

.card-elem p {
	display: inline;
	margin-top: 21px;
	margin-left: 20px;
}

.card-elem .switch-slider {
	position: absolute;
	right: 20px;
	margin-top: -118px;
}

div.pos-persiana {
	display: inline-block;
	margin-top: -20px;
	position: absolute;
}

div.pos-persiana > p {
	display: block;
	/*margin-top: -30px;
	position: absolute;*/
}

.btn-circle {
    width: 108px;
    height: 108px;
    padding: 20px 16px;
    border-radius: 54px;
    font-size: 60px;
    line-height: 1;
    border: 4px solid #343a40!important;
}

.btn-circle.btn-xl {
    width: 400px;
    height: 400px;
    padding: 0px 16px;
    border-radius: 200px;
    font-size: 240px;
    line-height: 1;
    border: 8px solid #343a40!important;
}

#icono-estado-alarma {
	margin-left: 50px;
	position: absolute;
	left: 0px;
}

.custom-switch.custom-switch-xl .custom-control-label {
	padding-left: 7rem;
	margin-top: 15px;
	padding-top: 10px;
}

.custom-switch.custom-switch-xl .custom-control-label::before {
	height: 5rem;
	width: calc(7rem + 2rem);
	border-radius: 7rem;
}

.custom-switch.custom-switch-xl .custom-control-label::after {
	margin-top: 1px;
	width: calc(5rem - 6px);
	height: calc(5rem - 6px);
	border-radius: calc(7rem - (5rem / 2));
}

.custom-switch.custom-switch-xl .custom-control-input:checked ~ .custom-control-label::after {
	transform: translateX(calc(4.25rem - 0.25rem));
}

.custom-switch.custom-switch-xxl .custom-control-label {
	padding-left: 8rem;
	margin-top: 15px;
	padding-top: 10px;
}

.custom-switch.custom-switch-xxl .custom-control-label::before {
	height: 6rem;
	width: calc(8rem + 2rem);
	border-radius: 8rem;
}

.custom-control-input:checked~.custom-control-label::before {
	/*border-color: #dc3545;
	background-color: #dc3545;*/
	border-color: #17a2b8;
	background-color: #17a2b8;
}

.custom-control-input:not(:disabled):active~.custom-control-label::before {
	/*background-color: #ed99a1;
	border-color: #ed99a1;*/
	background-color: #8fe4f1;
	border-color: #8fe4f1;
	
}
.custom-switch.custom-switch-xxl .custom-control-label::after {
	width: calc(6rem - 6px);
	height: calc(6rem - 6px);
	border-radius: calc(8rem - (6rem / 2));
}

.custom-switch.custom-switch-xxl .custom-control-input:checked ~ .custom-control-label::after {
	transform: translateX(calc(4.25rem - 0.25rem));
}

#icono-estado-alarma {
	opacity: 1;
}

#button-alarm.btn-warning, #icono-estado-alarma.btn-warning, #button-alarm-modal.btn-warning {
	color: white;
}

.custom-control-input:focus~.custom-control-label::before {
	box-shadow: 0 0 0 0.0rem;
	/*border-color: #adb5bd;*/
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
	border-color: #adb5bd;
}

.card-footer button > i {
	margin-top: -8px;
}

/* Modals */

#alertModal > div.modal-dialog {
	max-width: 80%;
}

#alertModal div.modal-content {
	color: #545b62;
}

#alertModal div.modal-header {
	background-color: #17a2b8;
	color: white;
}

#alertModal div.modal-footer > button {
	font-size: 40px;
	margin: 25px;
	padding: 10px 20px;
}

#alertModalTitle {
	font-size: 50px;
	margin: 20px 30px;
}

#alertModalContent, #alarmModalContent {
	font-size: 35px;
	margin: 30px;
}

#alarmModal div.modal-content {
	color: #545b62;
	background-color:
	transparent!important; border: 0px;
}

#button-alarm-modal > i {
	margin-top: -30px;
}

.btn-per-inst .btn-outline-light:hover {
    color: #f8f9fa;
    background-color: transparent;
}

.btn-per-inst .btn-outline-light.focus, .btn-outline-light:focus {
    box-shadow: 0 0 0 0.0rem transparent;
}

.btn-per-pos .btn-outline-light:hover {
    color: #f8f9fa;
    background-color: transparent;
}

.btn-per-pos .btn-por > img {
    width: 80px;
    height: 80px;
    margin-top: 0px;
}

.btn-per-pos .btn-por {
    width: 128px;
    height: 128px;
    padding: 0px;
    border-radius: 64px;
    font-size: 60px;
    line-height: 1;
    border: 2px solid white!important;
}


.btn-per-pos {
	margin: 20px -15px 8px -15px;
	border-top: 2px solid #666;
	padding-top: 20px;
}

.btn-per-pos-conj {
	margin: 0px -15px 15px -15px;
	border-top: 0px solid #000;
}











table.menu {
	width:100%;
	margin:0px;
}
td.menu {
	height:150px;
	font-size:70px;
}
tr.menu {
	width:100%;
	max-width:100%;
	background: rgba(0, 0, 0, 1);background: linear-gradient(#777777, #000000);
}
table.boton {
	width:100%;
}
td.camara {
	text-align:center;
	-webkit-box-shadow: inset 0px 0px 32px 0px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 0px 32px 0px rgba(0,0,0,1);
	box-shadow: inset 0px 0px 32px 0px rgba(0,0,0,1);
	border-radius: 40px; font-size:xx-large;
}
td.boton {
	height:100px;
	width:100px;
	max-width:100px;
	max-height:100px;
	text-align:center;
	line-height:60px;
	-webkit-box-shadow: inset 0px 0px 32px 0px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 0px 32px 0px rgba(0,0,0,1);
	box-shadow: inset 0px 0px 32px 0px rgba(0,0,0,1);
	border-radius: 40px; font-size:xx-large;
}
td.posicion {
	background: rgba(0, 0, 0, 1);background: linear-gradient(#777777, #000000);
	-webkit-box-shadow: inset 0px 0px 32px 0px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 0px 32px 0px rgba(0,0,0,1);
	box-shadow: inset 0px 0px 32px 0px rgba(0,0,0,1);
	border-radius: 40px; font-size:xx-large;
}

tr.boton {
	background: rgba(0, 0, 0, 0.5);
	height:100px;
	width:100px;
	max-width:100px;
}
tr.persianas {
	height:100px;
	width:100px;
	max-width:100px;
}
td.luces {
	padding:10px;
	-webkit-box-shadow: inset 0px 0px 32px 0px rgba(0,0,0,1);
	-moz-box-shadow: inset 0px 0px 32px 0px rgba(0,0,0,1);
	box-shadow: inset 0px 0px 32px 0px rgba(0,0,0,1);
	border-radius: 40px; font-size:xx-large;
}
p.luces {
	font-size:50px;
	float:left;
	margin-top:45px;
	margin-left:50px;
	margin-bottom:0px;
	vertical-align: middle;
	padding:0px
}
p.per {
	font-size:50px;
	float:left;
	margin-top:30px;
	margin-left:50px;
	margin-bottom:0px;
	vertical-align: middle;
	padding:0px
}
p.persianas {
	font-size:50px;
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
	vertical-align: middle;
	padding:0px
}

img.menu {
	padding:0px;
}
img.luces {
	float:right;
	filter:grayscale(100%)
}
img.persianas {
	float:right;
	width:175px
}
td.go:active {
	background: rgba(0, 0, 0, 0.4);
}
